/* Header */
.header1{
    max-width: 1168px;
    height: 36px;
    margin: 0 auto;
    display: flex;
    padding: 40px;
}
.header_shop{
    margin-left: 40px;
}
.header_menu{
    display: flex;
    padding-left: 822px;
    align-items: center;
}
.header_su{
    width: 91px;
    margin: 0px 0px 0px 8px;
    color: #156963;
    text-align: center;
    font-size: 14px;
    padding: 8px;
    text-decoration: none;
 }
.header_si{
    width: 111px;
    height: 36px;
    color: #fff;
    background-color: #156963;
    font-size: 14px;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
}

/* Body */
body{
    margin: 0;
    font-family: 'Montserrat';
}

/* Containers */
.flex-container_m1 {
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    justify-content: center;
    padding-top: 180px;
    padding-left: 100px;
}
.flex-container {
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    justify-content: center;
}
.flex-container7 {
    flex-wrap: nowrap;
    flex-direction: row;
    display: flex;
    justify-content: center;
    padding-top: 90px;
}
.flex-container2 {
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    justify-content: center;
    padding-top: 90px;
}
.flex-container4 {
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    justify-content: center;
}
.flex-container5 {
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.flex-container6 {
    flex-wrap: nowrap;
    flex-direction: row;
    display: flex;
    justify-content: center;
    padding-top: 160px;
}

/* 1 */
.main-button{
    width: 250px;
    height: 160px;
    display: inline;
    background: white;
}
.main-button2{
    width: 250px;
    height: 160px;
    display: inline;
    background: #156963;
}
.title-text{
    color: #156963;
    font-size: 68px;
    margin-left: 100px;
    margin-top: 120px;
    width: 550px;
    height: 130px;
    display: block;
}
.title-text-2{
    color: black;
    font-size: 18px;
    margin-left: 100px;
    width: 550px;
    display: block;
}
.flex-item-text-main{
    margin-top: 15px;
    margin-left: 20px;
    font-size: 16px;
    width: 65px;
    color: #636363;
}
.flex-item-text-main2{
    margin-top: 15px;
    margin-left: 20px;
    font-size: 16px;
    width: 65px;
    color: #83ADAA;
}
.main-switcher-text{
    font-size: 24px;
    text-align: center;
    color: #156963;
}
.main-switcher-text2{
    font-size: 24px;
    text-align: center;
    color: white;
}

/* 2 */
.flex-item2{
    width: 270px;
    height: 140px;
    border: 1px;
    border-style: groove;
    margin: 0 20px;
}
.flex-item-text-main_2{
    margin-top: 15px;
    margin-left: 20px;
    font-size: 16px;
    width: 130px;
    color: #156963;
}
.flex-item-text_2{
    margin-top: 5px;
    font-size: 10px;
    margin-left: 5px;
    margin-right: 10px;
    color: black;
}

/* 3 */
.hr1{
    align-self:center;
    width:1168px;
    size:1;
}
.img1{
    background-color: #EEEEEE;
}
.image1_2{
    margin-top: 73px;
    padding-right: 150px;
}
.select1{
    width: 200px;
}
.gray_img{
    padding-left: 40px;
    background-color: #F3F4F6;
}

/* overflow-x: hidden; */

.flex-item2-sub{
    margin: 10px;
}
.flex-item-text{
    margin-top: 5px;
    font-size: 10px;
    margin-left: 5px;
    margin-right: 10px;
}
.flex-item2-img{
    width: 48px;
    height: 48px;
    margin-left: 5px;
    margin-top: 15px;
}
.flex-container3{
    flex-wrap: nowrap;
    flex-direction: row;
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
    left: 360px;
    margin-top: 90px;
}
.image1{
    width: 1168px;
}
.image2{
    width: 480px;
}
.text2{
    font-size: 16px;
    margin-top: 70px;
    width: 550px;
    margin-left:0px; 
}
.text2_7{
    font-size: 16px;
    margin-left:0px;
    margin-top: 0px;
    width: 506px;
    height: 140px;
}
.text2_2{
    font-size: 24px;
    margin-top: 40px;
    width: 150px;
    margin-left:0px;
    color: #156963;
}
.text2_1{
    font-size: 16px;
    margin-top: 40px;
    width: 150px;
    margin-left:0px; 
}
.text2_3{
    font-size: 16px;
    margin-top: 0px;
    width: 150px;
    margin-left:0px; 
}
.text2_5{
    font-size: 16px;
    margin-top: 40px;
    width: 250px;
    margin-left:0px;
    padding-left:70px;
}
.text2_6{
    font-size: 16px;
    margin-left:0px;
    margin-right:50px;
    margin-top: 0px;
    width: 352px;
    color:#4F4F4F;
}
.text3{
    font-size: 40px;
    margin-top: 70px;
    width: 550px;
    height: 130px;
    display: block;
    color: black;
}
.text3_2{
    font-size: 40px;
    margin-top: 0px;
    width: 506px;
}
.text4{
    font-size: 20px;
    width: 900px;
    height: 0px;
    position: relative;
    left: -30px;
    display: block;
}
.button1{
    position: relative;
    width: 150px;
    height: 50px;
    background: #156963;
    color: white;
    border: none;
    font-family: 'Montserrat';
    font-weight: 600;
}
.button2{
    position: relative;
    background: #156963;
    color: white;
    border: none;
    font-family: 'Montserrat';
    margin-top: 10px;
    left: 70px;
    height: 22px;
    width: 51px;
    font-weight: 500;
    font-size: 8px;
    border-radius: 2px;
}
.email{
    margin-left: 70px;
}
.small-arrow-img{
    width: 16px;
    height: 14px;
    padding-top: 16px;
}
.cactus{
text-align: center;
font-family: 'Montserrat';
margin-left: 10px;
margin-right: 10px;
}


.hr2{
    align-self:center;
    size:1;
    color:#156963;
    margin-top: 130px;
}